- if user_signed_in?
  %h2 Signed in!
- else
  %h2 Not Signed in
  .btn-group.btn-group-vertical.sign-in
    %a{:href => user_omniauth_authorize_path(:github) }
      .btn.btn-primary
        = fa_icon "github"
        = "Sign in with Github"
